<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Drivers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div id="whole_table" th:switch="${Drivers}">
    <h2 style="color: white; text-align: center;" th:case="null">No Drivers found!</h2>
    <div th:case="*">
        <h2 style="color: white; text-align: center;" >Drivers</h2>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">fullname</th>
                <th scope="col">passport</th>
                <th scope="col">platenum</th>
                <th scope="col">drivinglicence</th>
                <th scope="col">dltime</th>
                <th scope="col">licence</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Driver:${Drivers}">
                <td th:text="${Driver.DriverID}"></td>
                <td th:text="${Driver.fullname}"></td>
                <td th:text="${Driver.passport}"></td>
                <td th:text="${Driver.platenum}"></td>
                <td th:text="${Driver.drivinglicence}"></td>
                <td th:text="${Driver.dltime}"></td>
                <td th:text="${Driver.licence}"></td>
                <td style="cursor: pointer; text-align: center;" th:onclick="|window.location.href='@{Driver-update/{id}(id=${Driver.DriverID})}'|">Edit</a></td>
                <td style="cursor: pointer; text-align: center;" th:onclick="|window.location.href='@{Driver-delete/{id}(id=${Driver.DriverID})}'|">Delete</a></td>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col"><a class="btn btn-primary btn-block" href="/Driver-create">Create Driver</a></div>
        <div class="col"><a class="btn btn-success btn-block" href="/">Main menu</a></div>
    </div>
</div>
</body>
</html>